li {
   display: inline-block;
   list-style-type: none;
   min-height: 2em;
   border: solid black 1px;
   width: 8em;
   background-color: white;
   vertical-align: top;
}

ul {
    padding: 5px;
    border: solid black 1px;
    min-height: 2em;
    cursor: default;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.PC-card {
    background-color: LightSkyBlue;
}

.NPC-card {
    background-color: DarkOrange;
}

.ui-state-default, .info {
    padding: 5px;
}