li {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;

   display: inline-block;
   list-style-type: none;
   min-height: 2em;
   border: solid black 1px;
   width: 8em;
   background-color: white;
    vertical-align: top;
}

.draggable-box {
    overflow-x: auto;
    overflow-y: hidden;
}

ul {
    padding: 5px;
    border: solid black 1px;
    min-height: 2em;
    cursor: default;
}

.PC-card {
    background-color: LightSkyBlue;
}

.NPC-card {
    background-color: DarkOrange;
}

.ui-state-default, .info {
    padding: 5px;
}